body {
    font-family: 'Urbanist', sans-serif;
    background-color: black;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
}